<div class="container">
  <button class="btn btn-success" (click)="onAction('complete')" *ngIf="action !== 'complete'"
    [disabled]="done">Completed</button>
  <div class="btn btn-success" *ngIf="action === 'complete'">
    <p class="fa text-center btn-alt animate-btn">&#xf00c;</p>
  </div>
  <button class="btn btn-fail" (click)="onAction('fail')" *ngIf="action !== 'fail'" [disabled]="done">
    Failed
  </button>
  <div class="btn btn-fail" *ngIf="action === 'fail'">
    <p class="fa btn-alt animate-btn text-center">&#xf00d;</p>
  </div>
  <button class="btn btn-neutral" (click)="onAction('cancel')">{{cancelText}}</button>
</div>
